body { background-color: #e3e9ee }
#content {
    padding: 20px 30px;
}

.box {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    outline: 0 none;
    margin: 20px 10px 0px 10px;
}

.box > h2 {
    border-radius: 6px 6px 0px 0px;
    background-color: #F5F5F5;
    border-bottom: 1px solid #EEEEEE;
    padding: 5px 15px;
    margin: 0px;
    font-size: 20px;
}

.box > div {
    padding: 15px;
    min-width: 450px;
}

.grid > div {
    display: inline-block;
    vertical-align: top;
}

.navbar-inverse .navbar-inner {
    background: #39383e; /* Old browsers */
    background: -moz-linear-gradient(top, #39383e 0%, #060604 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#39383e), color-stop(100%,#060604)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #39383e 0%,#060604 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #39383e 0%,#060604 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #39383e 0%,#060604 100%); /* IE10+ */
    background: linear-gradient(to bottom, #39383e 0%,#060604 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39383e', endColorstr='#060604',GradientType=0 ); /* IE6-9 */
}

.navbar-inverse .nav > li > a,
.navbar-inverse .brand {
    font-variant: small-caps;
    color: #EEE;
    border-left: 1px solid #222;
    border-right: 1px solid #333;
}

.navbar-inverse .nav > li > a:last-child {
    border-right: none;
}

.navbar-inverse .nav > li > a:hover {
    background: #252525;
}

.navbar-inverse .brand {
    border-left: none;
}

.navbar-inverse .nav > li {
    position: relative;
}

.navbar-inverse {
    box-shadow: 0px -2px 4px 4px rgba(0,0,0,0.8);
}

.navbar-inner > .btn {
    margin: 7px;
}

ul.nav li.dropdown:hover > ul.dropdown-menu{
    display: block;
}

ul.nav li.dropdown > .spacer {
    width: 100%;
    position: absolute;
    bottom: -5px;
    height: 5px;
}

.ui-autocomplete {
    font-size: 12px;
}

.btn-inverse {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #363636;
    *background-color: #222222;
    background-image: -moz-linear-gradient(top, #444444, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
    background-image: -webkit-linear-gradient(top, #444444, #222222);
    background-image: -o-linear-gradient(top, #444444, #222222);
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    border-color: #222222 #222222 #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
    color: #ffffff;
    background-color: #222222;
    *background-color: #151515;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-inverse:active,
.btn-inverse.active {
    background-color: #080808 \9;
}

.btn-inverse.active {
    color: rgba(255, 255, 255, 0.75);
}